{% extends "base.html" %}

{% block title %}Course Details | SkillUp LMS{% endblock title %}

{% block content %}
<link rel="stylesheet" href="/static/css/course_details.css">

<div class="course-hero" id="course-hero">
    <div class="course-hero-overlay">
        <h1 id="course-title">Loading course...</h1>
    </div>
</div>
<div class="course-layout">

    <div class="course-card">
        <h2>Modules</h2>

        <div id="module-list"></div>
    </div>

    <div class="course-card">
        <h2>Assignments Due</h2>
    <div id="assignment-list"></div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/js/course_details.js"></script>
{% endblock content %}